body{
  background-color:white;
  color:green;
}

h1{
  font-size:5rem
}
h2{
  font-size:3.5rem;
}
p{font-size:2rem;}

button{
  background-color: lightgrey;
  font-size:2rem;
  padding:10px
}
header{
  background-color:green;
}