
body{
  background-color:white;
  color:green;
}

h1{
  font-size:5rem
}
h2{
  font-size:3.5rem;
}
p{font-size:1.5rem;}


// TODO Come back to later and integrate at the other page
button{
  background-color: lightgrey;
  font-size:2rem;
  padding:10px
}


// *{
//   border:1px solid red !important;
// }
