@media(@tablet) {
  body {
    header{
      .flexed{

        .fas{
          margin:0 2rem 0 0;
        }
        div{
          text-align:center;
          margin:auto;
          font-size:2rem;
        }
        nav{
          
          width:100%;
          justify-content: space-around;
          a{
            font-size:1rem;
            padding: 0 1rem;
          }
        }
      }
      

    }





  }

}