@media(@mobile) {
  body {
    .bodycontainer {
      max-width : @bodywidthmobile;
      text-align: center;
    }

    header {
      background-color: @themeprimarycolor;

      .flexed {
        div {
          font-size : 2rem;
          text-align: center;
          margin    : auto;
        }

        nav {
          width: 100%;

          a {
            font-size: 1rem;
            padding  : 0 3px;

          }

          a:hover {
            font-size: initial;
          }
        }
      }

      .fas {
        text-align: center;
      }
    }

    .bodycontainer {

      p {
        font-size: 1.5rem;
      }

      section {
        flex-direction: column;
        margin        : 2rem 0;

        .text-container {
          margin: 1rem 0;
        }

        img {
          padding: 0;
        }
      }

      section:nth-child(odd) {
        flex-direction: column;

        img {
          padding: 0;
        }
      }
    }
  }
}

footer {
  text-align: center;


}